<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
	'use strict';

	var str = `
	<div>
		<span class="title">
			{{title}}
		</span>
		<span class="text">
			{{text}}
		</span>
	</div>
`;

	var list = [{
		title: 'qwerty',
		text: 'iuh'
		}, {
		title: 'ytrewq',
		text: 'booooooooom'
		}, {
		title: 'asdfgh',
		text: 'stradajte'
	}];

	function replaceTemplate(list, string) {
		var defString = string;
		var result = '';

		var str = list.forEach(function(item) {
			var keys = Object.keys(item);

			for (var i = 0; i < keys.length; i++) {
				string = string.replace("{{" + keys[i] + "}}", item[keys[i]]);

			}
			result += string;
			string = defString;

		});
		return result;
	}

	console.log(replaceTemplate(list, str));

	</script>
</body>
</html>